alembic==1.4.1
appnope==0.1.2
asttokens==2.0.5
azure-ai-formrecognizer==3.2.0b2
azure-common==1.1.28
azure-core==1.22.1
azure-storage-blob==12.9.0
backcall==0.2.0
black==22.1.0
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
cryptography==36.0.1
cycler==0.11.0
cymem==2.0.6
databricks-cli==0.16.4
debugpy==1.5.1
decorator==5.1.1
dill==0.3.4
docker==5.0.3
docopt==0.6.2
elastic-apm==6.7.2
elasticsearch==7.10.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.4
executing==0.8.2
-e git+https://github.com/deepset-ai/haystack.git@a5501c72cf717396cd1b5238bddcc6ce00cba490#egg=farm_haystack
filelock==3.6.0
Flask==2.0.3
fonttools==4.29.1
gensim==4.1.2
gitdb==4.0.9
GitPython==3.1.27
googletrans==3.0.0
greenlet==1.1.2
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.4.0
hyperframe==5.2.0
idna==2.10
inflect==5.4.0
ipykernel==6.9.1
ipython==8.0.1
isodate==0.6.1
itsdangerous==2.1.0
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jupyter-client==7.1.2
jupyter-core==4.9.2
kiwisolver==1.3.2
langcodes==3.3.0
langdetect==1.0.9
libsvm==3.23.0.4
llvmlite==0.38.0
lxml==4.8.0
Mako==1.1.6
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mlflow==1.13.1
mmh3==3.0.0
more-itertools==8.12.0
msrest==0.6.21
murmurhash==1.0.6
mypy-extensions==0.4.3
nest-asyncio==1.5.4
networkx==2.6.3
nltk==3.7
num2words==0.5.10
numba==0.55.1
numpy==1.21.5
oauthlib==3.2.0
octis==1.10.3
packaging==21.3
pandas==1.4.1
parso==0.8.3
pathspec==0.9.0
pathy==0.6.1
pdf2image==1.16.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.1
poppler-utils==0.1.0
preshed==3.0.6
prometheus-client==0.13.1
prometheus-flask-exporter==0.18.7
prompt-toolkit==3.0.28
protobuf==3.19.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==21.10.1
pycparser==2.21
pydantic==1.8.2
Pygments==2.11.2
pyparsing==3.0.7
pytesseract==0.3.9
python-dateutil==2.8.2
python-docx==0.8.11
python-editor==1.0.4
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
quantulum3==0.7.10
querystring-parser==1.2.4
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
sacremoses==0.0.47
scikit-learn==1.0.2
scikit-optimize==0.9.0
scipy==1.8.0
sentence-transformers==2.2.0
sentencepiece==0.1.96
seqeval==1.2.2
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
spacy==3.2.2
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SQLAlchemy==1.4.31
sqlparse==0.4.2
srsly==2.4.2
stack-data==0.2.0
tabulate==0.8.9
thinc==8.0.13
threadpoolctl==3.1.0
tika==1.24
tokenizers==0.10.3
tomli==2.0.1
tomotopy==0.12.2
torch==1.10.2
torchvision==0.11.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
transformers==4.13.0
typer==0.4.0
typing_extensions==4.1.1
urllib3==1.26.8
wasabi==0.9.0
wcwidth==0.2.5
websocket-client==1.2.3
Werkzeug==2.0.3
